body 
{ 
  background: #fff; 
  color: #000; 
  font-family: Roboto, Helvetica, Arial, sans-serif; 
  margin: 0; 
  padding: 0; 
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
#page_canvas
{
  flex-grow: 1;
}

.de-header
{
  height: 55px;
  display: block;
  padding: 15px;
}
.de-header-action
{
  float: right;
}
.de-header-title
{
  font-size: 25px;
}
.de-header-user
{
  --def-display: inline-block;
  display: none;
}
.de-header-signin
{
  --def-display: inline-block;
  display: none;
}

#form
{
  border-top: 4px double #000;
  border-bottom: 1px solid #000;
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px 10px;
}
#form label
{
  justify-self: end;
}
.field_value
{
  justify-self: start; 
}
